.code-image-rx{
}
.header-text-rx{
    margin-top: 50px;
    text-align: right;
}
.image-div-rx {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.image-rx {
  display: inline-block;
  margin: 0 auto;
  margin-left: -3%;
  height: 100%;
  width: auto;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}